.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.angular-google-map-container { height: 200px; }
#pac-input {
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: 'Open Sans', sans-serif;
  z-index: 10000 !important;
  /*display: block !important;*/
}