<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>FitnessBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet"href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.2/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.0/angular-moment.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
  <div ng-app='fitnessBuddy'>
    <div ng-controller="EventListCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
          <h3 class="modal-title">New Event</h3>
        </div>
        <div class="modal-body">
            <form ng-submit="newEvent()">
                <input type='text' ng-model='eventname' placeholder='New Event name' ng-required="true" />
                <input type='text' ng-model='eventdesc' placeholder='New Event description' ng-required="true" />
                <input type="text" datepicker-popup="yyyy/MM/dd" ng-model="eventdate" min-date="minDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Event Date"/>
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                <timepicker ng-model="eventtime" ng-change="changed()" hour-step="1" minute-step="10" show-meridian="false" readonly-input="true"></timepicker>
                <input type='submit'/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
      </script>    
      <div ng-show="authData">
        <p>Hello, {{ authData.facebook.displayName }} : {{ authData.facebook.cachedUserProfile.gender }}</p>
        <button ng-click="auth.$unauth()">Logout</button>
        <button class="btn btn-default" ng-click="open()">Add Event</button>
      </div>
      <div ng-hide="authData">
        <p>Welcome, please log in.</p>
        <button ng-click="auth.$authWithOAuthPopup('facebook')">Login With Facebook</button>
      </div> 
            <div class="page-header text-center">
                <h1>Events</h1>
            </div>
            <!-- <ul>
                <li ng-repeat="event in eventlist">{{ event.name }}: {{ event.text }} - {{ event.date | amDateFormat:'DD/MM/YYYY' }}@ {{ event.date | amDateFormat:'HH:mm'}}</li>
            </ul> -->
            Ordered events:
            <ul>
                <li ng-repeat="event in filteredEvents">{{ event.name }}: {{ event.text }} - {{ event.date | amDateFormat:'DD/MM/YYYY' }}@ {{ event.date | amDateFormat:'HH:mm'}}</li>
            </ul>
    </div>
    <div class="container">
  <!-- <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links right">
        <li><a href="https://github.com/pziegler/fitnessbuddy">Project-home</a></li>
    </ul>
    <ul class="site-footer-links">
      <li>© 2015 FitnessBuddy</li>
        <li><a href="https://github.com/pziegler/fitnessbuddy/issues">Submit Website Bug/Requests</a></li>
    </ul>
  </div> -->
</div>
      <div>
        <ul>
          <li><a href="https://github.com/pziegler/fitnessbuddy/issues">Submit Website Bug/Requests</a></li>
        </ul>
    </div>
  </div>
</body>
</html>